@model BatiFren.Entities.Page
@{
    ViewBag.Title = "AddPage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Content/IstPlay/js/jqueryRequired.min.js"></script>
<link href="~/Areas/Admin/Content/IstPlay/css/switch-slider.css" rel="stylesheet" />
<h2>AddPage</h2>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Add a page
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">

                <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#AddPage" style="margin-bottom:10px">Add a Page</button>
                <div class="table-responsive">

                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>PageName</th>
                                <th>Url</th>
                                <th>PreDefinedID</th>
                                <th>IsActive</th>
                                <th>CreatedTime</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>Edit Content </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Pages as List<BatiFren.Entities.Page>)
                            {
                                <tr>
                                    <td>@item.PageName</td>
                                    <td>@item.Url</td>
                                    <td>@item.PreDefinedID</td>
                                    <td>@item.IsActive</td>
                                    <td>@item.CreatedTime</td>
                                    <td> <a href="#" class="view" data-target="/Admin/Pages/EditPage/@item.PageID"><i class="glyphicon glyphicon-edit"></i> Edit</a></td>
                                    <td> <a href="/Admin/Pages/DeletePage/@item.PageID"><i class="glyphicon glyphicon-remove"></i> Delete</a></td>
                                    <td> <a href="/Admin/Pages/EditContent/@item.PageID"><i class="glyphicon glyphicon-edit"></i> Edit Content</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddPage" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Adding a page</h4><br />
                <div class="alert alert-info">
                    <strong>Heads up!</strong> When you create a page, the url of page is automatically defined.
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label> Page Name </label><br />
                        @Html.TextBox("pageName")
                    </div>
                    <div class="form-group">
                        <label>PreDefinedID</label><br />
                        @Html.TextBox("PreDefinedID")
                    </div>


                    <div class="form-group">
                        <label> IsActivate</label><br />
                        <label class="switch">
                            @Html.CheckBox("IsActive")
                            <div class="slider round">
                            </div>
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="modelView" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Editing a page</h4><br />
                <div class="alert alert-info">
                    <strong>Heads up!</strong> You can easily edit your page.
                </div>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        $("body").on("click", ".view", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#modelView .modal-body").html(data);
                    $("#modelView").modal("show");
                })
                .fail(function () {
                    $("#modelView .modal-body").text("Error!!");
                    $("#modelView").modal("show");
                })

        });
    })
</script>

